<div style="margin-left: 25px; margin-top: 20px;" >
    <h3>Setting 2</h3>
<div style="width: 60%; margin-top: 10px;">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, doloribus.</p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio reiciendis adipisci rerum dolore, quo earum. Repellat tempore, est recusandae nulla in velit illo maxime nobis eveniet doloribus asperiores officia ea accusamus blanditiis perferendis minus odit itaque ipsam accusantium illum consequatur vel, veritatis vero possimus. Nulla porro aut soluta veritatis cupiditate iure asperiores esse exercitationem odit, eius corporis doloribus fuga iusto unde voluptates a illo voluptate similique mollitia ab facere id. Voluptatum vero inventore amet exercitationem.
</div>
</div>
