<div style="margin-left: 25px; margin-top: 20px;" >
    <h3>Home1</h3>
<div style="width: 60%; margin-top: 10px;">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae cupiditate, tempore error doloribus eos vero laudantium dolor, repellat harum culpa quod voluptatibus iste! Natus earum quo commodi vitae voluptate vel reiciendis expedita odit dolorem iure cum quod eveniet maiores cumque distinctio blanditiis, aliquid labore! Ut vitae obcaecati consectetur placeat veritatis magni tempora omnis, reprehenderit numquam expedita enim veniam cupiditate delectus.
    </p>
</div>
</div>

