a{
    border-radius: 0 !important;
}
.selected-menu-item{
    border-left: 5px solid;
    border-left-color: red;
    
}
.menu-item{                                 /*not used*/
    border-left: 5px solid;
    border-left-color: rgba(0, 0, 0, 0);
}
.indented{
    --mat-list-list-item-leading-icon-start-space:48px;
}
